.App {
    text-align: center;
  }
  .autentificationContainer {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    margin: auto;
  }
  .nav-links{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .link{
    list-style: none;
  }
  
  .main{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    justify-content: center;
    display: flex;
    padding: 90px 0px 90px 0;
    /*background-color: rgb(252,252,252);*/
  }
  
  .sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 500px;
    box-shadow: 11px 12px 13px 12px rgba(207, 207, 207, 0.336);
    padding-top:20px;
    border-radius: 60px;
    flex-direction: column;
    margin: auto;
  }
  
  div.sub-main{
    background-color: #ffffff6f;
    opacity: 0.96;
  }
  
  .imgs{
    justify-content: center;
    display: flex;
  }
  .container-image{
    background-color: rgba(244,242,237,255);
    border-radius: 100px;
    align-items:center;
    display: flex;
    height: 115px;
    width: 115px;  
  }
  
  .profile{
    height: 130px;
    width: 130px;
    border-radius: 100px;
  }
  
  .LHeader{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  
  .email{
    width: 25px;
    position: absolute;
    padding: 15px 0 0 15px;
    border: none;
    outline: none;
    opacity: 50%;
  }
  
  .fill{
    padding-left: 70px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
  }
  

  .login-btn{
    padding-top:40px;
    padding-bottom: 10px;

  }

  .autentificationButton{
    width: 260px;
    height: 50px;
    border-radius: 60px;
    background-color: rgba(73,119,163,255);
    color: white;
    box-shadow: inset 0px 0px 15px 0px rgb(14, 14, 15);
    font-size: 25px;
    border: none;
  }
  
  .autentificationButton:hover {
    background-color: rgb(122, 142, 233);
  }
  
  .reg-link{
    margin-bottom: 5px;
  }
  
  .mail-id{
    padding-top: 20px;
  }
  
  .plist{
    padding-right: 10px;
    font-size: 25px;
  }
  
  
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    color:rgb(56, 54, 54);
    box-shadow: inset 0px 0px 25px 0px rgba(136, 136, 136, 0.444);
    font-family: inherit;
    initial-value: pick a role !important;
    font-weight: 550;
  }
  
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495E;
    pointer-events: none;
  }
  
  
  .RHeader {
    padding: 5px;
    margin-top:10px;
  }
  
  .error{
    margin:5px;
    color:rgb(252, 110, 110);
  }
  