.center {
    position: absolute;
    top: 10%;
    transform: translate(-50%, 0);
    background:rgb(233, 230, 227);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%;
    height: inherit
}

.register {
    position: absolute;
    top: 17.5%;
    transform: translate(90%, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20%;
    height: 80%;
    border-right:#55a2a6 4px solid; 
    background: #151515; 
    z-index: -1;
    
}

#register_text {
    text-align: center;
    margin-top: 70%;
    color:#2ba6cb;
    animation-iteration-count: 1;
}

h1 {
    text-align: center;
}

a { 
    text-decoration: none;  
}



@keyframes slidein {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: -400px;
    }
    
}