
  .wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
    
  }
  
  .search {
    font-size:smaller;
    font-weight: 500;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #efeded;
    box-shadow: rgb(128, 131, 133) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .search:placeholder{
    color:#261600;
  }
  .search:hover, .search:focus {
    border: 1px solid #964300cc;
    background-color: white;
  }
  